<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
  http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd  
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd" >
 	<bean id="db_configuration"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName"
			value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="searchSystemEnvironment" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:config_dev.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource"
		destroy-method="close">
		<property name="URL" value="${db_url}" />
		<property name="user" value="${db_user}" />
		<property name="password" value="${db_pass}" />		
		<property name="connectionCachingEnabled" value="true"/>
		<property name="connectionCacheProperties">
			<value>
				MinLimit:0
				MaxLimit:500
				InitialLimit:5
				ConnectionWaitTimeout:120
				InactivityTimeout:180
				PropertyCheckInterval:90
				ValidateConnection:true
			</value>
		</property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>entity.frwk</value>
				<value>entity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql:true}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql:false}</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
			</props>
		</property>
	</bean>
	
	
	
	<context:component-scan
		base-package="frwk.dao.hibernate.sys,config,frwk.controller,vn.com.cmc.schedule,intergration.cic,vn.com.cmc.service,vn.com.cmc.ws.config,cic.ws.client,cic.h2h.dao.hibernate,frwk.dao.hibernate,frwk.utils,vn.com.cmc.ws,vn.com.cmc.ws.endpoint,vn.org.cic.h2h.ws.endpoint" />
	
	<sws:annotation-driven />
	<sws:interceptors>
	  <bean class="frwk.filter.ws.HibernateWSSessionInterceptor">
	  	<property name="sessionFactory" ref="sessionFactory"></property>
	  </bean>
	 <!--  <sws:payloadRoot namespaceUri="http://www.example.com">
	    <bean class="frwk.filter.HibernateSessionInterceptor"/>
	  </sws:payloadRoot>
	  <sws:soapAction value="http://www.example.com/SoapAction">
	    <bean class="frwk.filter.HibernateSessionInterceptor"/>
	    <ref bean="mySoapActionInterceptor2"/>
	  </sws:soapAction> -->
	</sws:interceptors>
	<!-- <bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /> -->
    
    
	
	<sws:dynamic-wsdl id="cicQuestionAnswerWsdl"                           
	    portTypeName="CicQuestionAnswerPort"                              
	    locationUri="/service/questionAnswer" targetNamespace="http://www.endpoint.ws.h2h.cic.org.vn/cicqa">    
	  <sws:xsd location="/WEB-INF/cicqa.xsd" />                       
	</sws:dynamic-wsdl>
	
	<sws:static-wsdl id="questionAnswerWsdl" location="/WEB-INF/wsdl/cicQuestionAnswerWsdl.wsdl"/>
	<sws:static-wsdl id="searchWsdl" location="/WEB-INF/wsdl/cicSearchWsdl.wsdl"/>
	<sws:static-wsdl id="statisticalReportWsdl" location="/WEB-INF/wsdl/cicStatisticalReportWsdl.wsdl"/>
	<sws:static-wsdl id="inquiryProductsWsdl" location="/WEB-INF/wsdl/cicInterViewProductsWsdl.wsdl"/>

</beans>