<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- used to serve static resources like css, images and javascript files -->
	<!-- <mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/plugin/**" location="/plugin/" /> -->
	
	

	<http auto-config="true" use-expressions="true">
        <csrf disabled="true"/>
		<intercept-url pattern="/assets/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />
		<intercept-url pattern="/css/**" access="permitAll" />
		<intercept-url pattern="/img/**" access="permitAll" />
		<intercept-url pattern="/favicon.ico" access="permitAll" />
		<intercept-url pattern="/plugin/**" access="permitAll" />
		<intercept-url pattern="/fonts/**" access="permitAll" />
		
		
        <!-- <intercept-url pattern="/right" access="permitAll" /> 
        <intercept-url pattern="/teller/bulk-transfer/**" access="hasAnyRole('PERM_APPROVE_TRANSER_FILE')" />    
        -->
		

		<!-- the page login must to permit -->
		<intercept-url pattern="/login*" access="permitAll" />
        <intercept-url pattern="/logout*" access="permitAll" />


		

		<!-- <form-login login-page="/login" default-target-url="/dashboard"
			authentication-failure-url="/login?error" login-processing-url="/j_spring_security_check"
			username-parameter="username" password-parameter="password" />

		<logout logout-success-url="/login" logout-url="/logout.bye" delete-cookies="JSESSIONID" /> -->
	</http>	

	<beans:bean class="com.vietinbank.bankadmin.auth.DefaultRolesPrefixPostProcessor"/>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="ldapAuthenticationProvider" />
        <authentication-provider ref="preauthAuthProvider" />
	</authentication-manager>
	
    <beans:bean id="ldapAuthenticationProvider" class="com.vietinbank.bankadmin.auth.LdapAuthenticationProvider">
	   <beans:property name="userService" ref="userDetail" />
	   <beans:property name="ldapTemplate" ref="ldapTemplate" />
    </beans:bean>
       <beans:bean id="ldapAuthenticateIbUser" class="com.vietinbank.bankadmin.auth.LdapAuthenticateIbUser"> 
	   <beans:property name="ldapTemplate" ref="ldapTemplate" />
    </beans:bean>
	<beans:bean id="userDetail" class="com.vietinbank.bankadmin.auth.CustomUserDetails">
	   <beans:property name="userDao" ref="userBankAdminDao" />
	</beans:bean>
	
    <beans:bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
        <beans:property name="url" value="ldap://ovd.vietinbank.vn:389" />
        <beans:property name="base" value="dc=vietinbank,dc=com" />
		<beans:property name="pooled" value="true"/>
		<beans:property name="baseEnvironmentProperties">
		  <beans:map>
		    <beans:entry key="com.sun.jndi.ldap.connect.timeout" value="2000" />
		  </beans:map>
		</beans:property>        
    </beans:bean>	
    
    <beans:bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
        <beans:constructor-arg name="contextSource" ref="contextSource" />
    </beans:bean>
    
    <beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
    
    <!-- SSO:BEGIN -->
    <beans:bean id="ssoFilter" class="org.springframework.security.web.authentication.preauth.RequestHeaderAuthenticationFilter">
        <beans:property name="principalRequestHeader" value="OAM_REMOTE_USER"/>
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="exceptionIfHeaderMissing" value="false" />
    </beans:bean>
    
    <beans:bean id="preauthAuthProvider" class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
        <beans:property name="preAuthenticatedUserDetailsService">
            <beans:bean id="userDetailsServiceWrapper"  class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <beans:property name="userDetailsService" ref="userDetail"/>
            </beans:bean>
        </beans:property>
    </beans:bean> 
     
    <beans:bean id="http403EntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"></beans:bean>
    <!-- SSO:END -->
    
</beans:beans>  